<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="list-group">
                    <a class="list-group-item active">
                        {{'Criteria Functions' | translate}}
                        <i data-placement="top" 
                           data-type="info" 
                           data-delay="500" 
                           data-container="body"
                           data-animation="am-fade-and-scale" 
                           bs-tooltip="tooltipAdd.title"
                           ng-style="getButtonStyle()"
                           ng-click="addCriteriaFunction()" class="pull-right glyphicon glyphicon-plus-sign"></i>
                    </a>
                    <a ng-click="setSelectedCriteriaFunction($index)"
                         class="list-group-item"
                       ng-class="getListItemClass($index)"
                       ng-repeat="cf in criteriaFunctionSet">
                        <span ng-hide="editable[$index]">{{cf.name}}</span>
                        <input style ="color:black;" ng-hide="!editable[$index]" type="text" ng-model="cf.name">
                        <div class="pull-right" ng-hide="$index!==selectedCriteriaFunctionIndex">

                            <i ng-hide="listItemsDisabled || editable[$index]" 
                               data-placement="top" data-type="info" 
                               data-delay="500" 
                               data-animation="am-fade-and-scale" 
                               data-container="body"
                               bs-tooltip="tooltipRename.title"
                               ng-click="editable[$index] = true" 
                               style="margin-right: 10px;"
                               class="glyphicon glyphicon-pencil"></i>
                            <i ng-hide="listItemsDisabled || !editable[$index]"
                               data-placement="top" 
                               data-type="info" 
                               data-delay="500" 
                               data-animation="am-fade-and-scale" 
                               data-container="body"
                               bs-tooltip="tooltipRenameDone.title"
                               ng-click="editable[$index] = false"
                               style="margin-right: 10px;"
                               class="glyphicon glyphicon-ok"></i>
<!--                            <i data-placement="bottom" data-type="info" data-delay="500" data-animation="am-fade-and-scale" bs-tooltip="tooltipSave.title"
                               ng-click="saveCriteriaFunctions()"
                               style="margin-right: 10px;"
                               class="glyphicon glyphicon-floppy-disk"></i>-->
                            <i data-placement="top" 
                               data-type="info" 
                               data-delay="500" 
                               data-animation="am-fade-and-scale" 
                               bs-tooltip="tooltipSave.title"
                               data-container="body"
                               ng-hide="listItemsDisabled"
                               ng-click="removeCriteriaFunction()"
                               class="glyphicon glyphicon-minus-sign"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9" ng-if="listItemsDisabled">
            <div class="row" ng-if="listItemsDisabled">
                <div class="col-lg-12">
                    <div class="alert alert-warning" role="alert"><b translate>Warning</b>: {{'No worldstates are selected' | translate}}</div>
                </div>   
            </div>
        </div>
        <div class="col-lg-9" ng-if="selectedCriteriaFunctionIndex >= 0 && criteriaFunctionSet[selectedCriteriaFunctionIndex]">
            <div class="row" ng-if="!listItemsDisabled" ng-repeat="indicator in indicators">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 vCenter">
                            <img ng-src="{{indicator.iconResource}}" style="margin-right:5px;margin-bottom: 5px" /> <label>{{indicator.displayName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" >
                            <indicator-band criteria-function="criteriaFunctionSet[selectedCriteriaFunctionIndex].criteriaFunctions[$index]"></indicator-band>        
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>
