<div class="panel panel-default">
    <div class="panel-heading" style=" white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;">
        Criteria Emphasis
    </div>
    <div class="panel-body" >
        <div class="row">

            <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="margin-bottom: 20px;" ng-repeat="item in critEmphInternal">
                <div class="row">
                    <div  style="display:block;margin:0 auto;width:100px;">
                        <knob knob-data="item.criteriaEmphasis" knob-max="knobMax" knob-options="knobOptions"></knob>
                    </div>
                </div>
                <div class="row">
                    <div  style="display:block;margin:0 auto;width:100px;text-align: center;">
                        <span>{{item.indicator.displayName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>