<div id="indicatorCriteriaTable">
    <table  ng-hide="worldstates.length <= 0" data-ng-table="tableParams" class="table">
        <thead>
            <tr>
                <th ng-repeat="column in columns" class="text-left">
                    {{column.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="row in $data" ng-class="{'info':isGroupRow(row)}" 
                ng-style="getRowStyle($index)">
                <td data-ng-repeat="col in columns">

                    {{row[col.field].name}}
                </td>
            </tr>
        </tbody>
    </table>  
</div>