<div class="col-lg-12">
    <style>
        .nvd3 .nv-axis.nv-x path.domain {
            stroke-opacity: .75;
        }
    </style>
    <div  ng-hide="worldstates().length > 0" class="row">
        <!--two dropdowns for x and y axis-->
        <div class="alert alert-warning">
            <strong translate>Warning</strong>: {{'There are no worldstates selected.'|translate}}
        </div>
    </div>
    <div  ng-hide="!(worldstates() && worldstates().length > 0)" class="row">
        <!--two dropdowns for x and y axis-->
        <div style="float: right;margin-bottom: 10px;">
            <indicator-criteria-axis-chooser is-x-axis="false" icc-object="iccObject" selected-axis="yAxis"></indicator-criteria-axis-chooser>
            <indicator-criteria-axis-chooser is-x-axis="true" icc-object="iccObject" selected-axis="xAxis"></indicator-criteria-axis-chooser>
        </div>
    </div>
    <div  ng-hide="!(worldstates() && worldstates().length > 0)" class="row"> 
        <!--chart-->
        <div class="col-lg-12" ng-hide="forCriteria && !(yAxisCriteriaFunction && xAxisCriteriaFunction)">
            <div nvd3-scatter-chart
                 data="chartdata"
                 showLegend="true"
                 interactive="true"
                 tooltips="true"
                 sizerange="[80,80]"
                 zscale="zScale"
                 showDistX="true"
                 showDistY="true"
                 xaxislabel="{{xAxis.name}}"
                 yaxislabel="{{yAxis.name}}"
                 margin='{left:90,top:0,bottom:50,right:50}'
                 yAxisTickFormat="yAxisTickFormatFunction()"
                 xAxisTickFormat="xAxisTickFormatFunction()"
                 height="{{chartHeight}}"
                 >
                <svg></svg>
            </div>
        </div>
        <div class="col-lg-12" ng-hide="!forCriteria || (yAxisCriteriaFunction && xAxisCriteriaFunction)" >
            <div class="alert alert-warning">
                <strong translate>Warning</strong>:{{'No criteria function selected.'|translate}}
            </div>
        </div>
    </div>
</div>