<div class="col-lg-12">
    <style>
        .nvd3 .nv-axis.nv-x path.domain {
            stroke-opacity: .75;
        }
    </style>
    <div class="row">
        <!--two dropdowns for x and y axis-->
        <div style="float: right;margin-bottom: 10px;">
            <indicator-criteria-axis-chooser is-x-axis="false" icc-object="iccObject" selected-axis="yAxis"></indicator-criteria-axis-chooser>
            <indicator-criteria-axis-chooser is-x-axis="true" icc-object="iccObject" selected-axis="xAxis"></indicator-criteria-axis-chooser>
        </div>
    </div>
    <div class="row"> 
        <!--chart-->
        <div class="col-lg-12" nvd3-scatter-chart
             data="chartdata"
             id="exampleId"
             showLegend="true"
             interactive="true"
             tooltips="true"
             sizerange="[300,300]"
             nodata="No Worldstate selected"
             zscale="zScale"
             showDistX="true"
             showDistY="true"
             xaxislabel="{{xAxis.name}}"
             yaxislabel="{{yAxis.name}}"
             margin='{left:90,top:0,bottom:50,right:50}'
             yAxisTickFormat="yAxisTickFormatFunction()"
             xAxisTickFormat="xAxisTickFormatFunction()"
             >
            <!--sizedomain="[300,300]"-->
            <svg></svg>
        </div>
    </div>
</div>