<div class="col-lg-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-left">
                    <!--<i class="glyphicon glyphicon-list-alt"></i>-->
                    <h3 style="display:inline" class="panel-title" ng-if="!forCriteriaTable">Indicator table</h3>
                    <h3 style="display:inline" class="panel-title" ng-if="forCriteriaTable">Criteria table</h3>
                </span>
                <span class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="disabled">
                            Change Mode <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="forCriteriaTable = false"><i ng-show="!forCriteriaTable" class="glyphicon glyphicon-ok-circle"></i> <span ng-style="{'padding-left' : !forCriteriaTable? '0px': '19px'}">Indicator</span></a></li>
                            <li><a ng-click="forCriteriaTable = true"><i ng-show="forCriteriaTable" class="glyphicon glyphicon-ok-circle"> </i>  <span ng-style="{'padding-left' : forCriteriaTable? '0px': '19px'}">Criteria</span></a></li>
                        </ul>
                    </div>
                </span>
                <span class="clearfix"></span>
            </div>
            <div class="panel-body">
                <indicator-criteria-table worldstates='worldstates' 
                                          for-criteria='forCriteriaTable'
                                          criteria-function="selectedCriteriaFunction"
                                          >

                </indicator-criteria-table>
            </div>
        </div>
    </div>
    <!-- end widget -->

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-left">
                    <!--<span class="widget-icon"> <i class="fa fa-table"></i> </span>-->
                    <h3 style="display:inline" class="panel-title">Worldstate relation analysis chart</h3>
                </span>
                <span class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="disabled">
                            Change Mode <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="isCriteria = false"><i ng-show="!isCriteria" class="glyphicon glyphicon-ok-circle"></i> <span ng-style="{'padding-left' : !isCriteria? '0px': '19px'}">Indicator</span></a></li>
                            <li><a ng-click="isCriteria = true"><i ng-show="isCriteria" class="glyphicon glyphicon-ok-circle"> </i>  <span ng-style="{'padding-left' : isCriteria? '0px': '19px'}">Criteria</span></a></li>
                        </ul>
                    </div>
                </span>
                <span class="clearfix"></span>
            </div>
            <div class="panel-body">
                <relation-analysis-chart style="padding-left:50px" height="350" 
                                         for-criteria='isCriteria' 
                                         worldstates="worldstates"
                                         criteria-function="selectedCriteriaFunction"
                                         >
                </relation-analysis-chart>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-left">
                    <!--<span class="widget-icon"> <i class="fa fa-table"></i> </span>-->
                    <h3 style="display:inline" class="panel-title">Criteria radar chart comparison</h3>
                </span>
                <span class="pull-right">

                </span>
                <span class="clearfix"></span>
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <select multiple="" ng-model="worldstateRef" 
                            ng-options="ws.name for ws in allWorldstates"
                            style="width: 100%;height: 100%">
                    </select>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4" ng-repeat="chartModel in chartModels">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title ng-binding">
                                        <i class="fa fa-globe"></i>
                                        {{chartModel[0].name}}</h3>
                                </div>
                                <div class="panel-body no-padding text-align-center">
                                    <div style="margin: 0 auto; padding-top: 20px"  
                                         criteria-radar 
                                         worldstates="chartModel"
                                         criteria-function="selectedCriteriaFunction"
                                         >
                                    </div>
                                </div>
                                <!--                            <div class="panel-footer no-padding">
                                                            </div>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="display:table;width:100%">
                <h3 style="display:table-cell;vertical-align: middle
                    " class="panel-title">Criteria functions</h3>
                <div class="pull-right">

                    <div class="input-group ">
                        <div class="input-group-btn " style="display: block" ng-click="persistCriteriaFunctions()">
                            <button
                                type ="button" 
                                class="btn btn-success btn-sm">
                                Persist
                            </button>
                            <button type="button" class="btn btn-success btn-sm" >
                                <i ng-if="!showPersistSpinner && !showPersistDone" class="glyphicon glyphicon-floppy-disk"></i>
                                <i ng-if="showPersistSpinner" class="spin glyphicon glyphicon-refresh" ></i>
                                <i ng-if="showPersistDone" class="glyphicon glyphicon-ok"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <criteria-function-manager indicators="indicatorVector"  criteria-functions="criteriaFunctionSets"></criteria-function-manager>
            </div>
        </div>
    </div>
</div>
<!-- end widget -->